@mons : 'Montserrat', sans-serif;

.box-content.detail-products{
	ul li,
	p{
		font-size: 16px;
		font-weight: 400;
		font-family: @mons;
		color: #231f20;
		margin-bottom: 0em;
	}
	ul li{
		margin-bottom: 0.25em;
	}
	h1, h2, h3, h4, h5{
	    font-weight: 500;
	    font-family: @mons;
	    color: #231f20;
	    display: block;
	    margin: 0.7rem 0;
	}
	h1{
		font-size: 27px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	h5{
		font-size: 16px;
	}
	table{
		td{
			font-size: 16px;
		    font-weight: 400;
		    font-family: @mons;
		    padding: 0.25rem;
		}
	}
	.block-nutrition{

	}
	.table-nutrition{
		p{
		    font-weight: 400;
		    font-family: @mons;
			font-size: 14px;
			color: #231f20;
		}
	}
}

// -------------- product nutritions 
.blocks_nutritions{

	img{
		max-width: 100%;
	}
	ul li,
	p{
	    font-weight: 400;
	    font-family: @mons;
		font-size: 14px;
		color: #231f20;
	}

	clear: both;
}

.pictures_bg{
	img{
		// border: 1px solid #888;
	}
}
.bottoms_thumbnail{
	ul{
		li{
			img{
				border: 1px solid #888;
				padding: 2px;
				max-width: 80px;
			}
		}
	}
}
section.contact-sec-1 .content button{
	background: #5e6350 !important;
}
