// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i&display=swap');

// font-family: 'Noto Sans', sans-serif;
//@monstset:'Noto Sans', sans-serif;
// @monstset:'Fira Sans', sans-serif; 
@monstset : 'Montserrat', sans-serif;

@my-selector: default_small_title;
@my-selector2: lines_grey_def;

.@{my-selector} {
  font-family: @monstset;
  font-weight: 700; color: #9DA28C;
}
.@{my-selector2} {
  height: 2px;
  width: 100%;
  background-color: rgba(0,0,0, 0.2);
}
body{
	font-family: @monstset;
}

header.head.insides-head{
	.rights_headlanguage ul.menus_language li a,
	.blocks_top_menu ul li a{
		color: #707070;
	}
}

.prelative.container.container-head{
	max-width: inherit; 
	width: auto;
	padding: 0 3rem;
	clear: both;
	.navbar{
		padding: 0;
		margin: 0 -15px;
		button.navbar-toggler{
			padding: 0px;
		}
	}
}
.navbar-brand{
	max-width: 215px;
}
.rights_headlanguage{
	ul.menus_language{
		margin: 0;
		li{
			padding: 0 0px;
			font-family: @monstset;
			color: #fff; font-size: 10px;
			font-weight: 400;
			color: #fff;
			margin-right: 4px;
			a{
				font-weight: 400;
				font-size: 10px;
				text-transform: uppercase;

				font-family: @monstset;
				color: #fff;
			}
		}
		li:last-child{
			margin-right: 0;
		}
	}
}
.blocks_top_menu{
	ul{
		margin: 0; 
		padding: 0;
		li{
			display: inline-block;
			margin: 0;
			padding: 0 10px;
			a{
				font-weight: 700;
				font-size: 16px;
				// text-transform: uppercase;
				font-family: @monstset;
				color: #fff;
			}
		}
		li:last-child{
			margin-right: 0;
			padding-right: 0;
		}
	}
}

ul.smalls_affix_lang{
	padding-left: 1rem;
	li{
		font-size: 11px;
		margin-right: 0;
		padding: 0 1px;
		a{
			font-size: 11px;
		}
	}
	.list-inline-item:not(:last-child){
		margin-right: 0;
	}
}

section.home-sec-6 a{
	font-size: 13px;
    padding: 0.7rem 1.4rem;
}

.mw760{
	max-width: 760px;
}

.fcs-wrapper.outers_fcs_wrapper.home #myCarousel_home .carousel-caption .bxsl_tx_fcs{
	p{
		font-size: 38px;
		br{
			display: none;
		}
	}

	.subtitle{
		p{
			br{
				display: none;
			}
			max-width: inherit;
			text-align: justify;
			max-width: 95%;
		}
		a {
			display: none;
			
		    padding: 10px 30px;
		    background: #9DA28C;
		    color: #fff;
		    font-size: 13px;
		    border-radius: 30px;
		    letter-spacing: 1px;
		}
		a:hover,
		a:focus{
			opacity: 0.95;
		}
	}
	max-width: 430px;
	padding: 0;
	margin-left: -15px;
}

section.block-outers-product-category{
	.inner-section{

		.tops-sect{
			h2.small-title{
				margin: 0; padding: 0;
				font-family: @monstset;
				font-size: 15px;
				font-weight: 700; color: #9DA28C;
				line-height: 1;
			}
			.lgo_company{
				img{}
			}
			p{
				font-family: @monstset;
				font-size: 21px; 
				font-weight: 300; 
				color: #000;
				line-height: 1.4;
			}
			max-width: 995px;
			display: block;
			margin: 0 auto;
		}
		
		.tops_filters_category{
			h6{
				font-family: @monstset;
				margin: 0; padding: 0; line-height: 1; display: block;
				font-size: 16px; font-weight: 700; color: #9DA28C;
			}
			ul.filter_cat{
				li{
					a{
						display: inline-block;
						width: 190px;
						height: auto;
						padding: 0.45rem 1rem;
						border: 2px solid #9DA28C;
						border-radius: 25px;
						font-family: @monstset;
						font-size: 16px; font-weight: 700; color: #9DA28C;
					}
				}
				li:focus,
				li:hover,
				li.active{
					a{
						background-color: #9DA28C;
						color: #fff;
					}
				}
			}
			clear: both;
		}

		.middles-productsec{
			padding: 0px;
		}
		.lists-products-item{
			.picture{
				img{}
			}
			.info{
				p,
				h6.title-prouct{
					display: block;
					margin: 0; padding: 0;
					font-family: @monstset;
					font-size: 16px; font-weight: 700; color: #9DA28C;
				}
				p{
					min-height: 75px;
					font-size: 17px; font-weight: 300; color: #000;
				}
				a.btn-defaults_set{
					display: inline-block;
					width: 160px; height: auto;
					padding: 0.45rem 1rem;
					border: 2px solid #9DA28C;
					border-radius: 25px;
					font-family: @monstset;
					font-size: 15px; font-weight: 700; color: #9DA28C;

					background-color: #9DA28C;
					color: #fff;
				}
				a.btn-defaults_set:hover,
				a.btn-defaults_set:focus{
					opacity: 0.9;
				}
				clear: both;
			}
		}

		clear: both;
	}
}

section.contacts_branchf{
	.inners_section{
		h3{
			font-size: 21px; font-weight: 700; color: #9ca08b;
			text-transform: uppercase;
		}
		.lists_block_address{
			.texts{
				h4{
					text-transform: uppercase;
					font-size: 15px; font-weight: 700; color: #515151;
					margin-bottom: 0.6rem;
				}
				p{
					font-size: 16px; font-weight: 400; color: #515151;
					line-height: 1.5;
					a{
						font-size: 16px; font-weight: 400;
						color: #000;
						text-decoration: none;
					}
				}
			}
			clear: both;
		}

		clear: both;
	}
}

@media (max-width: 767px) {

	section.contacts_branchf{
		.inners_section{
			h3{
				font-size: 18px;
			}
		}
	}

	.lists_block_address{
		.texts{
			margin-bottom: 1.7rem;
			p{
				font-size: 15px;
			}
		}
	}
	
}

header.head.heads-products{
	position: relative;
	height: auto;
	width: 100%;
	background-color: #f7f7f7;
	padding-bottom: 20px;
}

.content-text{
	h1, h2, h3, h4, h5, h6{

	}
	span{

	}
	ul li, p{

	}
	h5.small-title{
		display: block;
		margin: 0; padding: 0; line-height: 1;
		font-family: @monstset;
		font-size: 19px; font-weight: 700; color: #9DA28C;
	}
	h2.title-page-products{
		font-family: @monstset;
		font-size: 16px;
		font-weight: 700;
		color: #9DA28C;
	}
}

.full-banner{
	img{
		max-width: 100%;
	}
}


.outer_blocks_detail_products{
	.tops{

	}
	.pictures{
		img{}
	}
	.info{
		h3.titles-default{
			display: block;
			margin: 0;padding: 0;
			font-family: @monstset;
			font-size: 21px; font-weight: 700; color: #9DA28C;
			margin-bottom: 1.1rem;
		}
		p{
			display: block;
			margin: 0; padding: 0;
			margin-bottom: 1.8rem;
			line-height: 1.4;
			font-family: @monstset;
			font-size: 18px; font-weight: 300; color: #000;
		}
		p.bold-greens-price{
			font-family: @monstset;
			font-size: 21px; font-weight: 700; color: #9DA28C;
		}
		.blocks_linkl_toped{
			ul{
				li{
					margin-right: 0;
					img{}
				}
			}
		}
	}
	clear: both;
}

section.footer{
	background-color: #9ca18b;
	
	ul.list-inline{
		li{
			a{
				font-family: @monstset; 
				font-size: 15px; font-weight: 500; color: #fff;
				i.fa{
					font-size: 15px; color: #fff;
				}
			}
		}
		li.first{
			margin-right: 20px;
			span{
				font-size: 15px; font-weight: 700; color: #fff;
			}
		}
	}

	.lines-white{
		height: 1px; width: 100%;
		background-color: rgba(255,255,255, 0.2);
	}
	.t-copyrights{
		p{
			font-family: @monstset; line-height: 1.4;
			font-size: 10px; font-weight: 400; color: #fff; text-transform: uppercase;
			a{
				color: #fff; text-decoration: none;
			}
		}
	}

	ul.lgo-certif{
		li{
			margin-right: 0;
		}
		li.firsts{
			margin-right: 15px;
		}
	} 

	ul.footers_menu{
		li{
			margin-right: 22px;
		}
	}
	clear: both;
}

.prelatife{
	position: relative;
}

.lists_featured_categorys{
	
	.horizontal{
		.item-block{
			height: 492px;
		}
	}

	.item-block{

		clear: both;
	}
	
	clear: both;
}

// ---------- Career Page

.containers_career{
	max-width: 1160px;	
}
.back-white{
	background-color: #f3f2ea !important;
}
section.outers-block-careers{
	.block-career-grey{
		background-color: #f3f2ea;
	}
	.inners-content{

	}
}
.in_blockform{
	max-width: 860px;
}
.form-careers{
	form{
		.form-group{
			label{
				font-family: @monstset;
				font-size: 15px; font-weight: 700; color: #000;
			}
			input{
				border: 1px solid #d5d5d5;
			}
			textarea{
				border: 1px solid #d5d5d5;
				margin-left: 10px;
			}
		}
		button.btns_submitn_frm{
			background: none; border: 0px; box-shadow: none; border-radius: 0px;
			width: 160px; height: 42px;
			background: url('../images/new/btns-submt-contact.jpg');
		}
		clear: both;
	}

	clear: both;
}

section.outers-block-gemaa.static_page{
	.blocksn_top_grey{
		background-color: #f6f6ee;
		.inner-section{
			h5{
				margin: 0; padding: 0;
				font-family: @monstset; line-height: 1;
				font-size: 25px; font-weight: 700; color: #9DA28C;
			}

			.lists_top_gma{
				.items{
					.titles{
						span{
							display: block;
							text-align: center;
							font-family: @monstset; line-height: 0.7;
							font-size: 80px; font-weight: 300;
							color: #869c4a;
						}
						small{
							display: block;
							text-align: center;
							font-family: @monstset;
							font-size: 25px; font-weight: 300;
							color: #869c4a;
						}
					}
					.desc{
						p{
							font-family: @monstset;
							line-height: 1.4;
							font-size: 15px; font-weight: 300; color: #515151;
						}
					}
					clear: both;
				}
				clear: both;
			}
		}
	}

	.blocks_inners{
		.list-rown{
			.items{
				.desc{
					h4, p{
						display: block;
						margin: 0; padding: 0;
					}
					h4{
						font-family: @monstset;
						font-size: 22px; font-weight: 700; color: #9DA28C;
					}
					p{
						font-family: @monstset;
						line-height: 1.4;
						font-size: 16px; font-weight: 300; color: #6c6c6c;
					}
				}
				.pictures{
					img{}
				}
				clear: both;
			}
		}
		clear: both;
	}

	.blocks_bottom_gema{
		.inners{
			h3{
				margin: 0; padding: 0;
				font-family: @monstset; line-height: 1;
				font-size: 25px; font-weight: 700; color: #9DA28C;
			}
			clear: both;
		}
		background: url('../images/new/backs_bottom_gema.jpg');
		background-position: bottom center;
		background-size: cover;
		width: 100%;
		min-height: 752px; height: auto;
	}
}

.maw765{
	max-width: 765px;
}

.back-grey-def{
	background-color: #f3f2ea;
}
.back-white{
	background-color: #fff;
}

section.bottom-abouts-values{
	background-color: #73704b;
	.inners{
		h3{
			font-family: @monstset; font-size: 22px; font-weight: 700; color: #fff;
			line-height: 1;
		}
		.list-bullets_icon{
			.items{
				.pict{
					img{}
				}
				.info{
					h5, p{
						display: block;
						margin: 0;
						padding: 0;
					}
					h5{
						font-family: @monstset;
						font-size: 22px; font-weight: 700; color: #fff;
					}
					p{
						font-family: @monstset;
						font-size: 16px; line-height: 1.4;
						font-weight: 300; color: #fff;
					}
				}
				clear: both;
			}
		}
		clear: both;
	}
	clear: both;
}


section.bottom-abouts-backsnwhite{
	background-color: #f3f2ea;
	.inners{

		.borders-right{
			border-right: 1px solid rgba(0,0,0, 0.3)
		}
		.boxs-item{
			span, h4, p{
				display: block;
				margin: 0; padding: 0;
			}
			span{
				font-family: @monstset; font-size: 15px; font-weight: 700;
				line-height: 1;
				color: #9DA28C;
			}
			h4{
				font-family: @monstset; font-size: 22px; font-weight: 700;
				line-height: 1;
				color: #000;
			}
			p{
				font-family: @monstset; 
				font-size: 16px; 
				font-weight: 300;
				line-height: 1.4;
				color: #6c6c6c;
			}
		}

		clear: both;
	}
	clear: both;
}

a.btn-defaults_set{
	display: inline-block;
	width: 160px; height: auto;
	padding: 0.45rem 1rem;
	border: 2px solid #9DA28C;
	border-radius: 25px;
	font-family: @monstset;
	font-size: 15px; font-weight: 700; color: #fff;

	background-color: #9DA28C;
	color: #fff;
}

.tops_filters_category.blogs{
	h6{
		font-family: @monstset;
		margin: 0; padding: 0; line-height: 1; display: block;
		font-size: 16px; font-weight: 700; color: #9DA28C;
	}
	ul.filter_cat{
		li{
			a{
				display: inline-block;
				width: 160px;
				// width: 190px;
				height: auto;
				padding: 0.45rem 1rem;
				border: 2px solid #9DA28C;
				border-radius: 25px;
				font-family: @monstset;
				font-size: 16px; font-weight: 700; color: #9DA28C;
			}
		}
		li:focus,
		li:hover,
		li.active{
			a{
				background-color: #9DA28C;
				color: #fff;
			}
		}
	}
	clear: both;
}

.lists-blogs-item{
	.picture{
		img{}
	}
	.info{
		p,
		h6.title-prouct{
			display: block;
			margin: 0; padding: 0;
			font-family: @monstset;
			font-size: 16px; font-weight: 700; color: #9DA28C;
		}
		p{
			min-height: 75px;
			font-size: 17px; font-weight: 300; color: #000;
		}
		a.btn-defaults_set{
			display: inline-block;
			width: 160px; height: auto;
			padding: 0.45rem 1rem;
			border: 2px solid #9DA28C;
			border-radius: 25px;
			font-family: @monstset;
			font-size: 15px; font-weight: 700; color: #9DA28C;

			background-color: #9DA28C;
			color: #fff;
		}
		a.btn-defaults_set:hover,
		a.btn-defaults_set:focus{
			opacity: 0.9;
		}
		clear: both;
	}
}

.tops_blog{
	.lines-grey{
		height: 2px;
		width: 100px;
		background-color: rgba(0,0,0, 0.3);
	}
}

.inner-blog-details{
	.n-top-titles{
		span, h1{
			display: block;
			margin: 0; padding: 0;
		}
		span.dates{
			font-family: @monstset;
			font-size: 13px; font-weight: 300; color: rgba(0,0,0, 0.95);
		}
		h1{
			font-family: @monstset;
			font-size: 24px; font-weight: 700; color: #9DA28C;
		}
		.backs_blog{
			a{
				font-family: @monstset;
				font-size: 13px; font-weight: 300; color: rgba(0,0,0, 0.95);
			}
		}
		padding-bottom: 2rem;
	}
	ul li,
	p{
		font-family: @monstset;
		line-height: 1.4;
		font-size: 16px; font-weight: 300; color: rgba(0,0,0, 0.95);
		margin-bottom: 1.3rem;  
	}
	ul li{
		padding: 0.6rem 0;
		margin-bottom: 0;
	}

	clear: both;
}

.outers_other_blog{
	h4.other-title{
		font-family: @monstset;
		font-size: 16px; font-weight: 700; color: #9DA28C;
	}
}


.blocks_faq_bottom{
	.inner-sections{
		h4{
			font-size: 25px;
		}

		.ns_accordion{
			max-width: 765px;
			.card{
				.card-header{
					h5, button{
						font-family: @monstset;
						font-size: 16px; font-weight: 700; color: #2f2f2f;
						padding-left: 0;
					}
					button:hover,
					button:focus{
						text-decoration: none;
						color: #000;
					}
					h5{
						position: relative;
					}
					h5:after{
						display: inline-block;
						content: "";
						position: absolute; z-index: 15;
						top: 0px; right: 0px;
						background: url('../images/new/chev-greens-nfaq.png') no-repeat;
						width: 31px; height: 31px;
					}
					background: none; background-color: transparent;
					border: 0px; box-shadow: none;
					// border-bottom: 1px solid #969696;
					border-radius: 0px;
				}
				border-radius: 0px;
				border: 0px;
				border-bottom: 1px solid #969696;
				clear: both;
			}
			clear: both;
		}
		
		.blocks_social_btmnlink{
			ul{
				margin: 0;
				li{
					a{
						img{}
					}
					a:hover,
					a:focus{
						text-decoration: none;
						opacity: 0.9;
					}
				}
			}
		}
		clear: both;
	}
	clear: both;
}

section.bussines-sec-1{
	background:#f6f6ee url('../images/new/backsn_top_business_green.jpg') no-repeat;
	background-position: top center;
	height: auto; min-height: 675px; width: 100%;
	.inners_section{
		display: block;
		margin: 0 auto;
		max-width: 1165px;
		.box-title{
			max-width: 765px;
			.title{
				font-size: 24px;
				p{
					font-size: 24px;
					color: #fff;
				}
			}
			.embed-container{
				iframe{}
			}

			.content{
				h3, h4, h5{
					margin: 0; display: block; padding: 0;
					font-family: @monstset;
					font-size: 19px; font-weight: 700; color: #1e1e1e;
				}
				p{
					font-family: @monstset;
					font-size: 17px; font-weight: 300; color: #515151;
				}
			}
			clear: both;
		}

		.title-howreal{
			display: block;
			font-size: 25px; font-weight: 700; color: #9DA28C;
			p{
				font-size: 25px; font-weight: 700; color: #9DA28C;
			}
		}


		clear: both;
	}

	.bnx_list_benefit{
		.box-content{
			img{}
		}
		.title{
			p{
				font-family: @monstset;
				font-size: 16px; font-weight: 700; color: #515151;
			}
			display: block;
			padding-bottom: 0.8rem;
		}
		.content{
			p{
				font-family: @monstset; 
				font-size: 15px; font-weight: 300; color: #515151;
			}
		}
		clear: both;
	}
}

section.bussines-sec-2{
	background:#fff;
	background-position: top center;
	height: auto; min-height: 500px; width: 100%;
	text-align: center;
	.inners_section{
		.title-head{
			.title{
				display: block;
				margin-bottom: 0.7rem;
			}
			.title, .title p{
				font-family: @monstset;
				font-size: 25px; font-weight: 700; color: #000000;
			}
			.subtitle, .subtitle p{
				font-family: @monstset;
				font-size: 19px; font-weight: 300; color: #515151;
			}
			clear: both;
		}
	}

	.boxsn_list_partnertestimonial{
		margin: 0;
		.box-content{
			margin: 0;
			.image{
				img{}
				padding-bottom: 1.1rem;
			}
			.title{
				font-family: @monstset; 
				font-size: 16px; font-weight: 700; color: #515151;
				p{
					font-family: @monstset; 
					font-size: 16px; font-weight: 700; color: #515151;
				}
				padding: 0 0.3rem;
				display: block;
				padding-bottom: 1.4rem;
			}
			.nama{
				font-family: @monstset;
				font-size: 6px; font-weight: 300; color: #515151;
				p{
					font-family: @monstset;
					font-size: 16px; font-weight: 300; color: #515151;
				}
			}
			clear: both;
		}
		clear: both;
	}
	clear: both;
}


section.business-sec-4{
  background: url('../images/new/backs_busin-5.jpg');
  min-height: 685px; height: auto; width: 100%;
  background-position: top center;

  .box-section{
    .title{
      p{
        color: #ffffff;
        font-size: 30px; font-weight: 700; font-family: @monstset;
      }
    }
    .subtitle{
      max-width: 565px;
      p{
        color: #ffffff;
        font-size: 18px; font-weight: 400; font-family: @monstset;
      }
    }

    form{
      max-width: 565px;
      .form-group{
      	label{
      		font-family: @monstset; 
      		font-size: 14px; font-weight: 300; color: #ffffff;
      	}
        input{
          border: 0;
          border-radius: 0;
          border-bottom: 1px solid #fff;
          padding: .5em;
          font-family: @monstset;
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          width: auto;
          background: transparent;
          width: 100%;
        }
        input:hover,
        input:focus{
          box-shadow: none;
        }
        
        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: white;
        }
        input::-moz-placeholder { /* Firefox 19+ */
          color: white;
        }
        input:-ms-input-placeholder { /* IE 10+ */
          color: white;
        }
        input:-moz-placeholder { /* Firefox 18- */
          color: white;
        }
      }

      button{
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 9px 25px;
        color: #fff;
        // font-size: 15px;
        // text-transform: uppercase;font-size: 18px;font-family: @monstset;letter-spacing: 2px;padding-left: 150px;text-decoration: none;
        background: url('../images/new/backs_btsubmitn.png') no-repeat;
        width: 140px; height: 42px;
        img{
          position: relative;
          top: -2px;
          padding-left: 15px;
        }
      } 
      a{
      	color: #fff;
      }
      p{
      	font-size: 16px; font-weight: 300; color: #fff;
      	padding-bottom: 0.4rem;
      	b,strong{
      		font-family: @monstset; font-weight: 700;
      	}
      }
    }
  }
}

.cv_content{
	font-family: @monstset;
	h2,h3{
		display: block;
		margin: 0; padding-bottom: 20px;
		font-size: 26px; font-weight: 700; color: #020001;
	}
	h4, h5{
		display: block;
		margin: 0; padding-bottom: 20px;
		font-size: 23px; font-weight: 300; color: #020001;
	}
	ul li,
	p{
		margin-bottom: 20px;
		line-height: 1.4;
		font-size: 16px; font-weight: 400; color: #020001;
		span{}
	}
	ul li{
		margin-bottom: 0;
		line-height: normal;
	}

	text-align: center;
	display: block;

	max-width: 1024px;
	margin: 0 auto;
	
	clear: both;
}

@media screen and (max-width: 1400px) {
	
	.menu-sheader-datals ul li{
		margin-right: 0; 
		padding: 0.8em 0; 
		a{
			font-size: 17px;
		}
	}
	.blocksn_logo-centers{
		padding-top: 3em;
		padding-bottom: 2em;
	}
	.header-affixs.affix{
		height: auto;
		padding: 0.3rem 0 0.7rem;
	}
	.menu-taffix{
		padding-top: 1.7rem;
	}

}