.blocks_faq_bottom .inner-sections .ns_accordion .card .card-header button, 
.blocks_faq_bottom .inner-sections .ns_accordion .card .card-header h5{
	text-align: left;
	white-space: inherit;
}
section.business-sec-4 .box-section .title p{
	font-size: 27px;
}
section.business-sec-4 .box-section .subtitle p{
	font-size: 16px;
}
section.business-sec-4{
	height: auto;
	background-size: cover;
	padding-bottom: 4.5rem;
}
section.contact-sec-1 .content button{
	margin-top: 20px;
}
.inner-blog-details p img,
.inner-blog-details img{
	max-width: 100%;
	width: auto !important;
}
.fcs-wrapper.outers_fcs_wrapper.home #myCarousel_home .carousel-caption .bxsl_tx_fcs .subtitle p{
	text-align: left !important;
}
.to_bannerclick{
	position: absolute;
	z-index: 300;
	width: 100%;
	height: 75%;
	background-color: transparent;
	left: 0px;
	bottom: 0px;
	display: block;
	cursor: pointer;
}
.to_bannerclick a{
	width: 100%;
	height: 100%;
	display: block;
}

.outers_fcs_wrapper.fcs-wrapper .carousel.carousel-fade .carousel-item{
	visibility: hidden;
	/*top: -999px;
	left: -999px;*/
}
.outers_fcs_wrapper.fcs-wrapper .carousel.carousel-fade .carousel-item.active{
	visibility: visible;
	/*top: 0px;
	left: 0px;*/
}

@media screen and (max-width:450px){

	section.back-white.block-outers-product-category.py-5 .tops-sect.content-text .lgo_company.d-block.mx-auto.py-4{
		margin-top: 2rem;
		max-width: 65%;
	}
	section.block-outers-product-category .inner-section .tops-sect p{
		font-size: 16px !important;
	}

    .tops_filters_category ul.filter_cat li{
        margin-right: 0; display: block;
        margin-bottom: 0.8rem;
    }
    .tops_filters_category ul.filter_cat li:last-child{
        margin-bottom: 0;
    }
    section.footer ul.list-inline li a{
        font-size: 14px;
    }

	section.footer ul.lgo-certif li.firsts{
		display: block;
	}
	.blocks_faq_bottom .inner-sections .ns_accordion .card .card-header h5,
	.blocks_faq_bottom .inner-sections .ns_accordion .card .card-header button{
		display: block;
		white-space: inherit;
		text-align: left;
		font-size: 15px;
		padding-right: 1rem;
	}
	.blocks_faq_bottom .inner-sections .ns_accordion .card .card-body ul li,
	.blocks_faq_bottom .inner-sections .ns_accordion .card .card-body p{
		font-size: 15px;
		font-weight: 400;
		color: #000;
	}
	.blocks_faq_bottom .inner-sections .ns_accordion .card .card-header h5:after{
		right: -7px;
	}

	#back-top{
		display: none !important;
	}
	.fcs-wrapper.outers_fcs_wrapper.career #myCarousel_home .carousel-caption .bxsl_tx_fcs{
		max-width: 72%;
	}
	.fcs-wrapper.outers_fcs_wrapper.faq #myCarousel_home .carousel-caption .bxsl_tx_fcs p {
		color: #fff;
		line-height: 1.4;
		font-weight: 400;
		font-size: 31px;
		text-transform: uppercase;
	}
	section.career-sec-2 .prelative.container .row.bawah{
		padding-top: 0px;
	}
	section.footer ul.footer-img li{
		max-width: 75px;
	}
	section.home-sec-5 .box-sec-5 .text p{
		padding: 0 35px;
	}
	section.footer hr.garis-footer{
		height: 2px;
	}
	section.footer .certified p{
		font-size: 14px;
	}
	.col-md-15.box-shadow-new{
		max-width: 350px;
		display: block;
		margin: 0 auto;
		padding-top: 40px;
	}
	
	button.navbar-toggler img{
		width: 30px;
	}
	.fcs-wrapper.outers_fcs_wrapper.home #myCarousel_home .carousel-caption .bxsl_tx_fcs p,
	.fcs-wrapper.outers_fcs_wrapper.career #myCarousel_home .carousel-caption .bxsl_tx_fcs p{
		font-size: 40px;
	}
	.fcs-wrapper.outers_fcs_wrapper.home #myCarousel_home .carousel-caption{
		bottom: 20%;
	}
	
	.fcs-wrapper.outers_fcs_wrapper.career #myCarousel_home .carousel-caption{
		bottom: 8%;	
	}
	section.home-sec-1 {
		padding-top: 0px;
	}
	section.home-sec-1 .subtit p,
	section.home-sec-2 .subtit p,
	section.home-sec-3 .subtit p,
	section.home-sec-5 .box-sec-5 .text p,
	section.home-sec-5 .box-sec-5 .ig p,
	section.career-sec-1 .box-content .content p,
	section.career-sec-3 .heading .subtitle p{
		font-size: 14px;
	}
	section.home-sec-1 .product h2.classic,
	section.home-sec-1 .product h2.calm,
	section.home-sec-1 .product h2.beauty,
	section.home-sec-1 .product h2.rock-sugar{
		font-size: 16px;
		padding-top: 0 !important;
	}
	section.home-sec-3 .product h2.premium,
	section.home-sec-3 .product h2.classic{
		font-size: 16px;
		padding-top: 10px !important;
	}
	section.home-sec-2 .product h2.juicy,
	section.home-sec-2 .product h2.beach,
	section.home-sec-2 .product h2.catchy,
	section.home-sec-2 .product h2.citrus,
	section.home-sec-2 .product h2.bingo{
		padding-top: 0 !important;
		font-size: 16px;
	}
	section.home-sec-4{
		background: url('../images/new/(Clip-Group)1.jpg');
		min-height: 258px;
	}
	section.home-sec-4 .title{
		padding: 31% 5%;
	}
	section.home-sec-4 .title p{
		font-size: 30px;
	}
	nav.navbar{
		padding: 10px;
		background: #f9f9f9;
	}

	section.home-sec-6 .text{
		font-size: 11px;
		padding-bottom: 7px!important;
	}

	nav.navbar a img{
		width: 125px;
	}
	button.navbar-toggler.collapsed {
    border: 0;
	}
	section.home-sec-5{
		/* background: url('../images/new/home-mobile_02.jpg'); */
		min-height: auto;
		background-repeat: no-repeat;
	}
	section.home-sec-5 .header-sec h3{
		font-size: 30px;
		color: #333;
		font-weight: 700;
		/* max-width: 30px; */
		margin-right: 0;
		text-align: left;
		margin-top: -50px;
		margin-bottom: 0px;
	}
	section.home-sec-5 .header-sec p{
		font-size: 14px;
		text-align: left;
		/* padding-left: 65px; */
	}
	section.home-sec-5 .box-sec-5 .ig{
		padding: 10px 0 30px !important;
	}
	section.home-sec-5 .shop{
		padding-bottom: 50px;
	}
	section.home-sec-6 a {
		border: 1px solid #fff;
		border-radius: 20px;
		border-color: #fff;
		color: #fff;
		padding: 5px 15px;
		background: 0 0;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 9px;
	}
	section.home-sec-6 .text {
		color: #fff;
		font-size: 9px;
		padding: 5px 0px;
	}
	section.footer .title p{
		font-size: 20px;
	}
	section.career-sec-1{
		margin-top: 0;
	}
	section.career-sec-1{
		background: url('../images/new/career-mobile_02.jpg');
		background-size: cover;
		min-height: 628px;
		/* margin-top: 349px; */
	}
	section.career-sec-1 .box-content .title p{
		font-size: 30px;
	}
	section.career-sec-1 .box-content {
		transform: translate(0,155%);
	}
	section.career-sec-2 .prelative.container .row .box-career{
		padding-top: 25px;
	}
	section.career-sec-3 .heading .title p {
		font-size: 30px;
		font-weight: 700;
		color: #2a2a2a;
		text-align: center;
	}
	section.career-sec-3 .heading{
		padding-bottom: 10px;
	}
	.box-post {
		padding-top: 30px;
	}	
	section.career-sec-3 .box-post .rec{
		padding-bottom: 0 !important;
	}
	section.career-sec-3 .box-post .by{
		padding-bottom: 10px !important;
	}
	section.produk-sec-1 .img-produk img{
		width: 35%;
	}
	.logo-produk img{
		padding-top: 20px;
	}
	section.produk-sec-1 .harga p{
		text-align: left !important;
	}
	section.produk-sec-1 .box-harga{
		margin-top: 35px;
	}
	section.produk-sec-1 .pembayaran .box-payment img{
		height: 100px;
	}
	section.produk-sec-1 .pembayaran .box-payment a{
		margin-top: -10px;
	}
	section.produk-sec-3 .col-md-60.py-5{
		padding: 20px !important;
	}
	header.head{
		display: none;
	}
	ul.navbar-nav.mr-auto li.nav-item{
		border-bottom: 1px #ccc solid;
		padding:8px 15px;
	}
	ul.navbar-nav.mr-auto {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    }
	ul.navbar-nav.mr-auto li.nav-item a{
		font-size: 14px;
		color:#000;
		font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
		padding: 0px !important;
	}
	section.outers-block-gemaa.static_page .blocksn_top_grey .inner-section .lists_top_gma .items .titles span{
		font-size: 60px;
	}

	section.outers-block-gemaa.static_page .blocks_inners .list-rown .items .pictures img{
		max-width: 100%;
	}
	section.outers-block-gemaa.static_page .blocks_bottom_gema{
		min-height: 420px;
	}

	.navbar.navbar-expand-lg ul.list-inline{
		margin-right: 0;
		margin-left: 1rem;
	}
	.navbar.navbar-expand-lg ul.list-inline li a{
		font-size: 13px;
		font-weight: 500;
		color: #888;
	}
	.navbar-light .navbar-toggler-icon{
		font-size: 18px;
	}

	section.faq-sec-1{
		padding-top: 0px;
	}
	section.faq-sec-1 .prelative.container .sec-satu .image{
		margin-top: 0px;
	}
	section.faq-sec-1 .prelative.container .sec-satu .image img{
		margin-top: 50px;
		width: 100%;
	}
	section.faq-sec-1 .prelative.container {
		padding-top: 50px;
	}
	section.produk-sec-1.pt-5 {
    padding-top: 15px !important;
	}
	.desc.mboh.text-left.px-5.py-5{ 
		padding-left: 15px !important; 
		padding-right: 15px !important; 
	} 
	section.outers-block-gemaa.static_page .blocks_inners .list-rown .items{
		padding-top: 20px !important;
	}
	section.outers-block-gemaa.static_page .blocks_inners .list-rown .items .desc h4{ 
		font-size: 17px; 
	} 
	section.bottom-abouts-values .inners .list-bullets_icon .items .info p{ 
		padding-top: 10px; 
	} 
	section.bottom-abouts-backsnwhite.py-5 .prelative.container.my-5{ 
		margin: 0 !important; 
	} 
	section.bottom-abouts-backsnwhite.py-5 .prelative.container.my-5 .col-md-30.py-5{ 
		/* margin: 0 !important; */ 
		padding: 20px 0 !important; 
	} 
	section.bottom-abouts-backsnwhite .inners .boxs-item p{ 
		padding-bottom: 0px !important;
	} 
	section.bottom-abouts-backsnwhite .inners .boxs-item h4{ 
		padding-bottom: 5px; 
	} 
	section.bottom-abouts-backsnwhite .inners .boxs-item span{ 
		padding-bottom: 10px; 
	} 
	.lists_featured_categorys .horizontal .item-block{ 
		height: auto; 
	}


	section.block-outers-product-category .inner-section .tops-sect p{ 
		font-size: 17px; 
	} 
	section.block-outers-product-category .inner-section .tops_filters_category ul.list-inline.filter_cat.justify-content-center{ 
		margin: 0 !important; 
	} 
	section.back-white.block-outers-product-category.py-5 .inner-section.py-5.text-center{ 
		padding-top: 0 !important; 
	} 
	section.back-white.block-outers-product-category.py-5 .tops-sect.content-text .lgo_company.d-block.mx-auto.py-4{ 
		padding: 10px 0 !important; 
	} 
	section.back-white.block-outers-product-category.py-5 .inner-section.py-5.text-center .py-4.mb-2{ 
		padding: 15px 0 !important; 
	} 
	section.back-white.block-outers-product-category.py-5{ 
		padding-bottom: 20px !important; 
	} 
	.blocks_inners.back-white.py-5 .prelative.container.py-5.my-2{ 
		padding: 0 15px !important; 
	} 
	.blocks_inners.back-white.py-5 .desc.text-center.px-3.py-5{ 
		padding-top: 10px !important; 
	} 
	.blocks_inners.back-grey-def.py-5 .prelative.container.py-5.my-2{
		padding-top: 30px !important;
	}
	section.outers-block-gemaa.static_page .blocks_inners .list-rown .items .desc p{ 
		margin-top: -15px; 
	} 
	section.outers-block-gemaa.static_page .blocks_inners .list-rown .items .pictures img{ 
		padding-bottom: 30px !important; 
	} 
	section.outers-block-careers.static_page .block.back-white .inners-content.py-5{ 
		padding: 10px 0 !important; 
	} 
	.in_blockform.form-careers.d-block.mx-auto.py-5{ 
		padding: 0 20px; 
	} 
	section.outers-block-careers.static_page .block-career-grey .prelative.container.containers_career.py-5{ 
		padding: 20px 15px !important; 
	} 
	section.outers-block-gemaa.static_page .blocks_inners.back-grey-def.py-5 .desc.text-left.px-3.py-5{
		padding-top: 0.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	.row.no-gutters.back-white .desc.text-left.px-5.py-5{
		padding: 30px 15px !important;
	}
	section.bottom-abouts-values.py-5{
		padding: 40px !important;
	}
	.list-bullets_icon .items .info.py-5{
		padding: 30px 0 !important;
	}
	section.back-white.block-outers-product-category.py-5{
		/*padding-top: 0 !important;*/
	}
	section.outers-block-gemaa.static_page .prelative.container.py-5{
		padding: 10px 0 !important;
	}
	section.outers-block-gemaa.static_page .prelative.container.py-5 .row.lists_top_gma{
		padding: 0 25px;
	}
	section.outers-block-gemaa.static_page .blocksn_top_grey .inner-section .lists_top_gma .items .titles span{
		padding-top: 20px;
	}
	section.contact-sec-1 .content .title h3{
		font-size: 28px;
	}
	section.contact-sec-1 .content .title p{
		font-size: 16px;
	}
	section.outers-block-gemaa.static_page .blocks_inners.back-grey-def.py-5{
		padding: 0 15px !important;
	}
	.blocks_inners.back-grey-def.py-5 .prelative.container.py-5.my-2{
		margin: 0 !important;
	}
	section.bussines-sec-2.py-5{
		padding-top: 0 !important;
	}
	section.bussines-sec-2 .boxsn_list_partnertestimonial .box-content .title{
		padding: 0.3rem 0.4rem !important;
	}
	section.bussines-sec-2 .boxsn_list_partnertestimonial .box-content .nama p{
		padding-bottom: 20px;
	}
	section.business-sec-4 .box-section .title p{
		font-size: 21px;
	}
	.d-block.picts_captcha{
		margin-left: 0 !important;
	}
	.col-md-30.col-sm-30.hide-pc .text-right.float-right.submit{
		float: left !important;
		text-align: left !important;
		padding-top: 20px !important;
	}
	section.home-sec-5 .box-sec-5 .text p{
		padding: 0px;
	}
	section.outers-block-gemaa.static_page .blocks_inners .list-rown .items .desc p{
		font-size: 16px;
	}
	section.bottom-abouts-values.py-5 {
		padding: 40px 0 !important;
	}
	section.bottom-abouts-values .inners .list-bullets_icon .items .py-3{
		padding: 0.4rem !important;   
	}
	section.bottom-abouts-backsnwhite.py-5{
		padding-bottom: 2rem !important;
	}

	section.contact-sec-1{
		min-height: 540px !important;
		padding-bottom: 5rem;
	}

}

header.header-mobile.homepage_head .menu-headers{
  margin-right: 25px;
}
header.header-mobile.homepage_head{
  padding: 0 15px;
  nav.navbar.navbar-light{
    background-color: #fff !important;
    padding-left: 15px; padding-right: 15px;
  }
  .navbar-brand{
    max-width: 240px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  .navbar-toggler{
    border: 0px; box-shadow: none;
    padding: 0px;
  }

  ul.navbar-nav{
    li{
      a{
        color: #888;
        text-transform: uppercase;
      }
      .dropdown-menu{
        border: 0px; 
        padding:0;
        li{
          a{
            margin-top: 0;
            padding-left: 1em;
            text-transform: uppercase;
          }
        }
      }
    }
    li.dropdown{
      a{
        padding: 0;
      }
    }
  }
}

@media screen and (min-width:450px){
	header.header-mobile.homepage_head{
		display: none !important;
	}
}

@media screen and (max-width: 767px){

	.outers_fcs_wrapper.fcs-wrapper .carousel.carousel-fade .carousel-item{
		position: absolute !important;
	}
	.outers_fcs_wrapper.fcs-wrapper{
		min-height: 630px;
	}

}

button.navbar-toggler{
	border: none;
}