@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@mons : 'Montserrat', sans-serif;
@robot : 'Roboto', sans-serif;

body,html{
    overflow-x: hidden;
    position: relative;
    height: 100%;
    background: #F7F6EE;
}
.prelative.container{
    max-width: 1350px;
}

.prelative.container22{
    max-width: 1600px;
    margin: 0 auto;
}

html, body{
    font-family: @mons;
}

p{
    font-family: @mons;
    margin-bottom: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

@import 'ib_style.less';

section.home-sec-1{
    // padding-top: 320px;
    .header-sec{
        img{

        }
    }
    .subtit{
        p{
            font-size: 16px;color: #333333;font-weight: 300;max-width: 560px;
        }
    }
    .product{
        img{
            text-align: center;margin: 0 auto;
        }
        h2.classic{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #e9bc84;
        }
        h2.calm{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #d09382;
        }
        h2.beauty{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #fcc070;
        }
        h2.rock-sugar{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #e58fbc;
        }
        .ml{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;
        }
        .title{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;
        }
        .taste{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;
        }
        .coming{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;font-weight: 500;
        }
    }
    .shop{
        text-align: center;margin: 0 auto;
        a{
            padding: 15px 35px;
            background: #9DA28C;
            color: #ffffff;
            font-size: 18px;
            border-radius:30px;
        }
    }
}

section.home-sec-2{
    .header-sec{
        img{

        }
    }
    .subtit{
        p{
            font-size: 16px;color: #333333;font-weight: 300;max-width: 600px;
        }
    }
    .product{
        img{
            text-align: center;margin: 0 auto;
        }
        h2.beach{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #68c9f0;
        }
        h2.catchy{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #eb3c48;
        }
        h2.citrus{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #ecbc2f;
        }
        h2.juicy{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #55b74d;
        }
        h2.bingo{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #faa920;
        }
        .ml{
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;line-height: 1.1;
        }
        .title{
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;line-height: 1.1;
        }
        .taste{
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;line-height: 1.1;
        }
    }
    .shop{
        text-align: center;margin: 0 auto;
        a{
            padding: 15px 35px;
            background: #9DA28C;
            color: #ffffff;
            font-size: 18px;
            border-radius:30px;
        }
    }
}

section.home-sec-3{
    .header-sec{
        img{

        }
    }
    .subtit{
        p{
            font-size: 16px;color: #333333;font-weight: 300;max-width: 600px;
        }
    }
    .product{
        img{
            text-align: center;margin: 0 auto;
        }
        h2.classic{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #22a5a3;
        }
        h2.premium{
            padding-bottom: 10px;
            text-align: center;margin: 0 auto;
            font-size: 24px;font-weight: 600;color: #d2b82b;
        }
        .ml{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;
        }
        .title{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;
        }
        .taste{
            line-height: 1.1;
            font-size: 16px;color: #231f20;
            text-align: center;margin: 0 auto;
        }
    }
    .shop{
        text-align: center;margin: 0 auto;
        a{
            padding: 15px 35px;
            background: #9DA28C;
            color: #ffffff;
            font-size: 18px;
            border-radius:30px;
        }
    }
}

section.home-sec-4{
    background: url('../images/new/HOME-Recovered_07.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 590px;
    background-size: cover;
    .title{
        padding: 16%;
        p{
            font-size: 88px;color: #ffffff;font-weight: 600;
            // text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
            // text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
            text-shadow: 4px 4px 6px rgba(150, 150, 150, 0.8);
        }
    }
}

section.home-sec-5{
    // background: url('../images/new/HOME-Recovered.jpg');
    // min-height: 1100px;
    .header-sec{
        // max-width: 630px;
        margin: 0 auto;
        h3{
            font-size: 29px;color: #9DA28C;font-weight: 400;text-align: center;
            b, strong, span{
                font-weight: 700;
            }
        }
        p{
            // max-width: 630px;
            font-size: 16px;
            color: #000000;font-weight: 300;text-align: center;
            b, strong, span{
                font-weight: 700;
                color: #9DA28C;
            }
        }
        a{
            padding: 15px 35px;
            background: #9DA28C;
            color: #ffffff;
            font-size: 18px;
            border-radius:30px;
            // text-align: right;
            float: right;
        }
    }
    .box-sec-5{
        background: #ffffff;
        margin-top: -50px;
        // -webkit-box-shadow: 9px 9px 20px 0px rgba(96, 96, 96, 0.75);
        // -moz-box-shadow:    9px 9px 20px 0px rgba(96, 96, 96, 0.75);
        // box-shadow:         9px 9px 20px 0px rgba(96, 96, 96, 0.75);
        border-top:0;
        border-left:0;
        min-height: 340px; height: auto;
        img{
            text-align: center;
            margin: 0 auto;
            position: relative;
            display: block;
        }
        .text{
            padding-top: 80px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            display: block;
            p{
                text-align: center;
                font-size: 16px;
                font-weight: 300;color: #333333;
                max-width: 250px;
                margin: 0 auto;
            }
        }
        .ig{
            p{
                font-size: 15px;color: #9DA28C;font-weight: 700;
                text-align: center;
            }
            padding-bottom: 50px;
        }
    }
    .shop{
        text-align: center;margin: 0 auto;
        a{
            padding: 15px 35px;
            background: #9DA28C;
            color: #ffffff;
            font-size: 18px;
            border-radius:30px;
        }
    }
}

section.home-sec-6{
    .container-box {
        position: relative;
        // width: 50%;
        z-index: 5;
      }
      
      .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: 342px;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        z-index: 30;
        width: 400px;
    }
    
    // .container-box:hover .image {
    //     // background:rgba(255,0,0,0.4);
    //     // background: #9DA28C;
    //     // z-index: 5;
    //   }
      .container-box:hover .kotakhijau {
        // background:rgba(255,0,0,0.4);
        // background: #9DA28C;
        z-index: 10;
        cursor: pointer;
      }
      
      .container-box:hover .middle {
        opacity: 1;
        
      }
      
      .text {
        color: #fff;
        font-size: 20px;
        // padding: 16px 32px;
        padding-bottom: 30px !important;
        // z-index: 30;
        }
        a{
            border: #ffffff 1px solid;
            border-radius:20px;
            border-color:#fff;
            color: #797979;
            padding: 5px 15px;
            background: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .kotakhijau{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.69;
        z-index: -1;
        background: #5D6140;
        top: 0;
    }
    


section.footer{
    background: #117f40;
    .img-above{
        img{

        }
    }
    .title{
        p{
            font-size: 26px;color: #ffffff;text-transform: uppercase;
        }
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            padding: 0px 0;
            a{
                font-size: 16px;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    hr.garis-footer{
        height: 5px;
    }
    .certified{
        p{
            font-size: 26px;color: #ffffff;text-align: left;
        }
    }
    ul.footer-img{
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            padding: 0 10px;
            a{
                font-size: 21px;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; position: fixed; visibility: initial; }
.header-affixs{
    // background-color: rgba(0, 146, 223, 0.95); #f37021
    background-color:#ffffff;
    width: 100%;
    z-index: 1000;
    height: 90px;
    border-bottom: 3px solid #9DA28C;
    z-index: 100000;
    .lgo_web_headrs_wb{
        padding-top: 1.3rem;
        max-width: 170px;
      a{
        display: block;
        max-width: 217px;
      }
    }
}

.hanya-ipad{
  display: none;
}

.menu-taffix{
  padding-top: 2rem;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 3px; }
.menu-taffix ul li a{ font-size: 14px; font-weight: 700; color: #555555; text-decoration: none; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #000000; }

.generate-height(50);
.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }
  .margin-@{i} {
    margin: (1px * @i);
  }
  .margin-top-@{i} {
    margin-top: (1px * @i);
  }
  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }
  .margin-left-@{i} {
    margin-left: (1px * @i);
  }
  .margin-right-@{i} {
    margin-right: (1px * @i);
  }
  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }
  .padding-@{i} {
    padding: (1px * @i);
  }
  .padding-top-@{i} {
    padding-top: (1px * @i);
  }
  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }
  .padding-left-@{i} {
    padding-left: (1px * @i);
  }
  .padding-right-@{i} {
    padding-right: (1px * @i);
  }
  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }
  .generate-height(@n, (@i + 1));
}
.clear{
  clear: both;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.fcs-wrapper.outers_fcs_wrapper.home{
    position: relative; z-index: 10;
    #myCarousel_home{
      height: 100%;
      // height: 100%;
      // position: absolute; top: 0px; left: 0px; width: 100%; z-index: 55; height: 100%;
      .carousel-inner{
        // height: 100%;
        // overflow: inherit;
        .carousel-item{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top right;
        }
        .carousel-indicators{
          li{
            width: 11px;
            height: 11px;
            cursor: pointer;
          }
          li.active{
            
          }
          li:hover{
            cursor: pointer;
          }
        }
      }
      .carousel-caption{
        left: inherit; right: inherit;
        bottom: 25%; width: 100%; padding: 0;
        z-index: 1500;
        .bxsl_tx_fcs{
          padding: 0 1rem;
          text-align: left;
          padding-bottom: 0em;
          background: none; background-color: transparent;
            h4,p{
              display: block; margin: 0; padding: 0;
              line-height: 1.2;
              font-size: 80px;
            }
            h4{
              font-weight: 700; color: #fff;
              margin-bottom: 10px;
              font-size: 32px;
            }
            p{
                font-weight: 400; color: #fff; line-height: 1;font-weight: 700;
                font-size: 60px;
                strong, b{
                    color: #84c998;
                    font-weight: 600;
                }
            }
            .subtitle{
                max-width: 565px;
                p{
                    font-weight: 400; color: #fff; line-height: 1.5;font-weight: 300;
                    font-size: 17px;
                    max-width: 75%;
                }
                a{
                    padding: 15px 35px;
                    background: #9DA28C;
                    color: #ffffff;
                    font-size: 18px;
                    border-radius:30px;
                }
            }
  
            a.customs_btn_fcs{
              display: block; text-align: center; margin: 0; padding: 0;
              background: none; background-color: #ffffff; box-shadow: none; border-radius: 0px; border:0px;
  
              width: 222px; height: 56px; 
              border: 2px solid #fff;
              // padding-top: 15px;
              background-color: #ffffff; color: #2d2d2d;
              font-size: 15px; font-weight: 700;
              // padding-top: 0.8rem;
              padding: 15px;
            }
            a.customs_btn_fcs:hover,
            a.customs_btn_fcs:focus{
              text-decoration: none;
              color: #2d2d2d;
            }
            .blocks_sn_lineyellow{
              .lines-yellow{
                background-color: #f1ec54; height: 5px; width: 100%;
              }
            }
        }
      }
  
      clear: both;
    }
    clear: both;
}

.fcs-wrapper.outers_fcs_wrapper.faq{
    position: relative; z-index: 10;
    min-height: 450px; height: auto; 
    height: 100%;
    #myCarousel_home{
      height: 100%;
      // height: 100%;
      // position: absolute; top: 0px; left: 0px; width: 100%; z-index: 55; height: 100%;
      .carousel-inner{
        // height: 100%;
        overflow: inherit;
        .carousel-item{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top right;
        }
        .carousel-indicators{
          li{
            width: 11px;
            height: 11px;
            cursor: pointer;
          }
          li.active{
            
          }
          li:hover{
            cursor: pointer;
          }
        }
      }
      .carousel-caption{
        left: inherit; right: inherit;
        bottom: 25%; width: 100%; padding: 0;
        z-index: 1500;
        .bxsl_tx_fcs{
          padding: 0 1rem;
          text-align: left;
          padding-bottom: 0em;
          background: none; background-color: transparent;
            h4,p{
              display: block; margin: 0; padding: 0;
              line-height: 1.2;
              font-size: 66px;
              text-align: center;
              text-transform: uppercase;
            }
            h4{
              font-weight: 700; color: #fff;
              margin-bottom: 10px;
              font-size: 32px;
            }
            p{
                font-weight: 400; color: #fff; line-height: 1.4;font-weight: 400;
                font-size: 60px;
                text-transform: uppercase;
                strong, b{
                    color: #fff;
                    font-weight: 700;
                }
            }
            .line-insides{
                width: 50px;
                height: 5px;
                background: #fff;
                margin: 0 auto;
                display: block;
            }
            .subtitle{
                // max-width: 565px;
                p{
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    font-weight: 400; color: #fff; line-height: 1.5;font-weight: 300;
                    font-size: 17px;
                    max-width: 735px;
                    text-align: center;
                }
                a{
                    padding: 15px 35px;
                    background: #9DA28C;
                    color: #ffffff;
                    font-size: 18px;
                    border-radius:30px;
                }
            }
  
            a.customs_btn_fcs{
              display: block; text-align: center; margin: 0; padding: 0;
              background: none; background-color: #ffffff; box-shadow: none; border-radius: 0px; border:0px;
  
              width: 222px; height: 56px; 
              border: 2px solid #fff;
              // padding-top: 15px;
              background-color: #ffffff; color: #2d2d2d;
              font-size: 15px; font-weight: 700;
              // padding-top: 0.8rem;
              padding: 15px;
            }
            a.customs_btn_fcs:hover,
            a.customs_btn_fcs:focus{
              text-decoration: none;
              color: #2d2d2d;
            }
            .blocks_sn_lineyellow{
              .lines-yellow{
                background-color: #f1ec54; height: 5px; width: 100%;
              }
            }
        }
      }
  
      clear: both;
    }
    clear: both;
}

.fcs-wrapper.outers_fcs_wrapper.career{
    position: relative; z-index: 10;
    min-height: 450px; height: auto; 
    height: 100%;
    #myCarousel_home{
      height: 100%;
      // height: 100%;
      // position: absolute; top: 0px; left: 0px; width: 100%; z-index: 55; height: 100%;
      .carousel-inner{
        // height: 100%;
        overflow: inherit;
        .carousel-item{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top right;
        }
        .carousel-indicators{
          li{
            width: 11px;
            height: 11px;
            cursor: pointer;
          }
          li.active{
            
          }
          li:hover{
            cursor: pointer;
          }
        }
      }
      .carousel-caption{
        left: inherit; right: inherit;
        bottom: 25%; width: 100%; padding: 0;
        z-index: 1500;
        .bxsl_tx_fcs{
          padding: 0 1rem;
          text-align: left;
          padding-bottom: 0em;
          background: none; background-color: transparent;
            h4,p{
              display: block; margin: 0; padding: 0;
              line-height: 1.2;
              font-size: 80px;
            }
            h4{
              font-weight: 700; color: #fff;
              margin-bottom: 10px;
              font-size: 32px;
            }
            p{
                font-weight: 400; color: #fff; line-height: 1;font-weight: 700;
                font-size: 60px;
                span{
                    color: #84c998;
                    font-weight: 600;
                }
            }
            .subtitle{
                max-width: 565px;
                p{
                    font-weight: 400; color: #fff; line-height: 1.5;font-weight: 300;
                    font-size: 17px;
                    max-width: 500px;
                }
                a{
                    padding: 15px 35px;
                    background: #9DA28C;
                    color: #ffffff;
                    font-size: 18px;
                    border-radius:30px;
                }
            }
  
            a.customs_btn_fcs{
              display: block; text-align: center; margin: 0; padding: 0;
              background: none; background-color: #ffffff; box-shadow: none; border-radius: 0px; border:0px;
  
              width: 222px; height: 56px; 
              border: 2px solid #fff;
              // padding-top: 15px;
              background-color: #ffffff; color: #2d2d2d;
              font-size: 15px; font-weight: 700;
              // padding-top: 0.8rem;
              padding: 15px;
            }
            a.customs_btn_fcs:hover,
            a.customs_btn_fcs:focus{
              text-decoration: none;
              color: #2d2d2d;
            }
            .blocks_sn_lineyellow{
              .lines-yellow{
                background-color: #f1ec54; height: 5px; width: 100%;
              }
            }
        }
      }
  
      clear: both;
    }
    clear: both;
}


  
  .outers_fcs_wrapper.fcs-wrapper{
    #myCarousel_home{
      position: absolute; top: 0px; left: 0px; width: 100%;
      height: 100%;
    }
    .carousel.carousel-fade .carousel-item {
        display: block;
        opacity: 0;
        transition: opacity ease-out 1.7s;
        left: 0;
        top: 0;
        position: absolute;
    }
    .carousel.carousel-fade .carousel-item.active {
        opacity: 1 !important;
    }
    .carousel.carousel-fade .carousel-item:first-child {
        top: auto;
        position: relative;
        transition: opacity ease-out 1.7s;
    }
    .carousel.carousel-fade .carousel-item:second-child {
        top: auto;
        position: relative;
        transition: opacity ease-out 1.7s;
    }
    .carousel-item .img-fluid {
        margin: 0 auto;
    }
    .carousel img {
        // opacity: 0.5;
        // filter: alpha(opacity=50);
    }
  }

header.head{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    .lefts_logo{
        padding-top: 10px;
    }
}

header.head2{
    // position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 20px;
}

@media screen and (max-width:1920px){
    .prelative.container{
        max-width: 1225px;
    }
}

section.produk-sec-1{
    .img-produk{
        margin: 0 auto;
        text-align: center;
    }
    .logo-produk{
        h5{
            font-size: 16px;color: #c99080;font-weight: 700;font-family: @robot;
            padding-top: 10px;
            margin-bottom: 0;
            // padding-bottom: 10px;
        }
    }
    .harga{
        p{
            font-size: 25px;
            font-family: @robot;
            font-weight: 300;
        }
    }
    p.atas-cont1{
        font-size: 16px;font-family: @robot;font-weight: 300;
        line-height: 1.2;
    }
    .box-content{
        max-width: 330px;   
        .nutri{
            p{
                font-size: 16px;font-weight: 700;color: #231f20;font-family: @robot;
            }
        }
        hr.produk{
            background: #231f20;
            height: 2px;
        }
        .takaran{
            p{
                font-size: 16px;font-weight: 400;font-family: @robot;color: #231f20;
            }
        }
        .jumlah{
            p{
                font-size: 16px;font-weight: 400;font-family: @robot;color: #231f20;
            }
        }
        .sajian{
            p{
                font-size: 16px;font-weight: 500;font-family: @robot;color: #231f20;
            }
        }
        .total{
            p{
                font-size: 16px;font-weight: 400;font-family: @robot;color: #231f20;
            }
        }
        .lemak{
            p{
                font-size: 16px;font-weight: 400;font-family: @robot;color: #231f20;
            }
        }
        table{
            td{
                font-size: 16px;font-weight: 400;font-family: @robot;
            }
        }
        .pesan{
            p{
                font-size: 14px;font-weight: 400;font-family: @robot;color: #231f20;
            }
        }
    }
    .box-harga{
        border: 2px solid #231f20;
        padding: 20px;
        hr.box-harga2{
            
        }
        .title{
            p{
                font-size: 16px;color: #231f20;font-family: @robot;font-weight: 500;
            }
        }
        .subtotal{
            p{
                font-size: 16px;color: #231f20;font-family: @robot;font-weight: 400;
            }
        }
        .barang{
            p{
                font-size: 16px;color: #231f20;font-family: @robot;font-weight: 400;text-align: right;
            }
        }
        .harga-kanan{
            p{
                font-size: 16px;color: #231f20;font-family: @robot;font-weight: 500;text-align: right;
            }
        }
    }
    .pembayaran{
        .title{
            p{
                font-size: 16px;color: #231f20;font-family: @robot;font-weight: 700;
            }
        }
        .box-payment{
            img{
                text-align: center;
                margin: 0 auto;
                display: block;
                // padding-bottom: 20px;
            }
            a{
                margin-top: 30px;
                margin: 0 auto;
                text-align: center;
                display: block;
                padding: 15px 15px;
                background: #9DA28C;
                color: #ffffff;
                font-size: 12px;
                border-radius:30px;
            }
        }
    }
}

section.produk-sec-2{
    .title-recent{
        p{
            font-size: 28px;color: #231f20;font-weight: 700;
            text-align: center;
        }
    }
    .product{
        h2{
            font-size: 16px;font-family: @robot;text-align: center;font-weight: bold;
        }
        h2.classic{
            color: #e6b475;
        }
        h2.beauty{
            color: #f6ba64;
        }
        h2.juicy{
            color: #f0566e;
        }
        h2.citrus{
            color: #f8c746;
        }
        .ml{
            font-weight: 300;font-size: 14px;text-align: center;font-family: @robot;color: #000;
        }
        .title,.taste{
            font-weight: 400;font-size: 16px;text-align: center;font-family: @robot;color: #000;
        }
        .shop{
            text-align: center;margin: 0 auto;
            padding-top: 20px;
            a{
                display: block;
                padding: 15px 15px;
                background: #9DA28C;
                color: #ffffff;
                font-size: 12px;
                border-radius:30px;
            }
        }
    }
}

section.produk-sec-3{
    .title{
        p{
            font-size: 28px;font-weight: bold;font-family: @robot;color: #231f20;text-align: center;
        }
    }
}

section.faq-sec-1{
    background: #404040;
    .prelative.container{
        padding-top: 100px;
        .sec-satu{
            .title{
                margin-top: 40px;
                p{
                    color: #ffffff;font-size: 45px;font-weight: 400;line-height: 1.2;
                    span{
                        font-weight: 700;
                    }
                }
            }
            .image{
                margin-top: -100px;
                padding-bottom: 75px;
                z-index: 100;
                position: relative;
                img{

                }
            }
        }
        .sec-dua{
            .box-topics{
                .title{
                    p{
                        color: #178442;font-size: 30px;font-weight: 700;
                    }
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        padding: 10px 0;
                        color: #ffffff;
                        font-size: 16px;
                    }
                }
            }
            .box-answer{
                .title{
                    p{
                        color: #178442;font-size: 30px;font-weight: 700;
                    }
                }
                .box-ask{
                    padding: 15px 0;
                    .title{
                        p{
                            font-size: 16px;color: #ffffff;font-style: italic;font-weight: 400;
                        }
                    }
                    .content{
                        padding-top: 10px;
                        p{
                            font-size: 16px;color: #ffffff;font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

section.career-sec-1{
    background: url('../images/new/career-sec-1_02.jpg');
    background-size: cover;
    min-height: 675px;
    // margin-top: 349px;
    .box-content{
        transform: translate(0%, 110%);
        // -ms-transform: translate(-50%, -50%);
        .company{
            p{
                font-size: 25px;color: #9DA28C;
                margin-bottom: -17px;
            }
        }
        .title{
            p{
                font-size: 50px;color: #ffffff;font-weight: 700;margin-bottom: 15px;
            }
        }
        .content{
            p{
                font-size: 16px;color: #ffffff;
            }
        }
    }
}

section.career-sec-2{
    .prelative.container{
        margin-top: -140px;
        .row{
            padding-top: 75px;
            .box-career{
                position: relative;
                .box-content{
                    a{
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        padding: 1rem;
                        width: 100%;
                        img{
                        }
                        .title{
                            p{
                                color: #ffffff;font-size: 18px;font-weight: 600;
                            }
                        }
                        .isinya{
                            p{
                                color: #ffffff;font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.career-sec-3{
    .heading{
        padding-bottom: 50px;
        margin: 0 auto;
        display: block;position: relative;
        .title{
            p{
                font-size: 60px;font-weight: bold;color: #2a2a2a;
                text-align: center;
            }
        }
        .subtitle{
            margin: 0 auto;
            p{
                font-size: 16px;color: #2a2a2a;
                text-align: center;
            }
        }
    }
    .box-post{
        .rec{
                font-size: 16px;color: #2a2a2a;
        }
        .by{
            font-size: 16px;color: #2a2a2a;
        }
        .content{
            font-size: 16px;color: #2a2a2a;
        }
        a{
            font-size: 16px;color: #2a2a2a;
        }
    }
}

section.career-detail{
    .box-content{
        .title{
            p{
                font-size: 40px;color: #161416;font-weight: 700;
                line-height: 1.3;
                span{
                    font-weight: 400;
                }
            }
        }
        .job-qua{
            .title{
                padding: 20px 0;
                p{
                    font-size: 16px;color: #9DA28C;
                }
            }
            .content{
                max-width: 500px;
                p{
                    padding: 10px 0;
                    font-size: 16px;color: #050606;    
                }
            }
        }
        .read{
            a{
                padding: 15px 35px;
                background: #9DA28C;
                color: #ffffff;
                font-size: 18px;
                border-radius:30px;  
            }
        }
    }
}

section.career-detail-sec-2{
    .title{
        margin: 0 auto;
        display: block;
        text-align: center;
        p{
            font-size: 50px;color: #161416;font-weight: 500;
        }
    }
    .box-career{
        position: relative;
        .box-content{
            // transform: translate(-50%, -50%);
            a{
                position: absolute;
                bottom: 80px;
                left: 0px;
                padding: 1rem;
                width: 100%;
                img{
                }
                .title{
                    p{
                        color: #ffffff;font-size: 18px;font-weight: 600;
                    }
                }
                .isinya{
                    p{
                        color: #ffffff;font-size: 18px;text-align: center;
                    }
                }
            }
        }
    }
}

.modal.show .modal-dialog {
    // transform: translate(0,100%);
    .modal-content{
        max-width: 800px;
        .modal-body{
            padding: 0;
            .box-kanan{
                transform: translate(8%,20%);
                .thank{
                    p{
                        font-size: 40px;color: #161416;font-weight: bold;
                    }
                }
                .sub{
                    padding-top: 25px;
                    p{
                        font-size: 20px;color: #161416;font-weight: 500;line-height: 1.2;
                    }
                }
                .shop{
                    text-align: center;margin: 0 auto;
                    padding-top: 70px;
                    a{
                        display: block;
                        text-transform: uppercase;
                        padding: 15px 15px;
                        background: #9DA28C;
                        color: #ffffff;
                        font-size: 12px;
                        border-radius:30px;
                        width: 120px;
                        margin-left: 70px;
                    }
                }
            }
        }
    }
}

button.navbar-toggler{
    float: right;
}

.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    background-color: #69a87b;

    width: 100%;
    height: 100%;
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 1.2em 0px; position: relative; }
.menu-sheader-datals ul li.separate{
    // display: inline-block;
    // content: "";
    padding: 0px; margin: 0 auto;
    background-color:#fff;
    width: 20px; height: 1px;
}
.menu-sheader-datals ul li a{ font-size: 18px; letter-spacing: 1px; text-transform: uppercase; font-weight: 400; color: #fff; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #cdcdcd; text-decoration: none;
}

.hidesmenu-frightd a img{
    opacity: 0.8;
}

.outers-back-bottms-about{
    background: url(../images/back-bottom-abouts.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 676px;
    p{
        letter-spacing: 1px; font-weight: 300; color: #fff; font-size: 15px; text-transform: uppercase;
        line-height: 1.8; text-align: center;
    }
}

.blocksn_logo-centers {
    max-width: 230px;
    display: block;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 2.7em;
}

section.story-sec-1{
    position: relative;
    background: url('../images/new/STORY_02.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 680px;
    // margin-top: 384px; 
    .content{
        padding-top: 140px;
        padding-right: 30px;
        .title{
            p{
                line-height: 1.1;
                font-size: 72px;color: #9DA28C;
            }
            b{
                line-height: 1;
                font-size: 72px;color: #9DA28C;
            }
        }
        .inside{
            padding-top: 50px;
            p{
                font-size: 24px;color: #9DA28C;
            }
        }
    }
}

section.story-sec-3{
    background: url(../images/new/storyyback-sec-3.jpg) center center no-repeat;
    background-size: cover;
    // width: 100%;
    height: 588px;
    display: table;
    vertical-align: middle;
    // height: 100%;
    width: 100%;
    .content{
        vertical-align: middle;
        display: table-cell;
        height: 100%;
        p{
            text-align: center;color: #fff;font-size: 28px;
            line-height: 1.65;
            strong, b{
                margin: 0 auto;
                display: block;
                font-size: 72px;font-weight: 600;
                line-height: 1;
                text-align: center;color: #fff;
                
            }
        }
    }
}

section.story-sec-4{
    .row.no-gutters{
        margin-bottom: -1px;
        .content-outer{
            display: table;
            vertical-align: middle;
            height: 100%;
            width: 100%;
            background: #f4f4f4;
            .content-inner{
                max-width: 710px;
                margin: 0 auto;
                vertical-align: middle;
                display: table-cell;
                height: 100%;
                padding: 0 65px;
                .title{
                    p{
                        font-size: 33px;color: #46b656;font-weight: 500;
                    }
                }
                .insides{
                    padding-top: 20px;
                    p{
                        line-height: 1.3;
                        font-weight: 500;
                        font-size: 22px;color: #5e5e5e;
                    }
                }
                .readmore{
                    float: right;
                    padding-top: 80px;
                    a{
                        padding: 15px 35px;
                        background: #9DA28C;
                        color: #ffffff;
                        font-size: 18px;text-transform: uppercase;
                        border-radius:30px;
                    }
                }
            }
        }
    }
}

section.story-sec-5{
    position: relative;
    background: url('../images/new/storyyback-sec-5.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1115px;
    .content.inners_bloc{
        p{
            font-weight: 300;
            font-size: 27px;
            color: #9DA28C;
        }
        h3{
                line-height: 1;
                font-size: 123px;color: #9DA28C;
        }
        h5{
            font-size: 42px;color: #9DA28C;font-weight: 600;
        }
    }
    .content{
        padding-top: 170px;
        // .meet{
        //     p{
        //         font-weight: 300;font-size: 27px;color: #9DA28C;
        //     }
        // }
        // .nama{
        //     padding-top: 50px;
        //     p{
        //         line-height: 1;
        //         font-size: 123px;color: #9DA28C;
        //     }
        // }
        // .founder{
        //     padding: 20px 0 40px;
        //     p{
        //         font-size: 42px;color: #9DA28C;font-weight: 600;
        //     }
        // }
        .inside{
            p{
                font-size: 22px;color: #5e5e5e;
            }
        }
    }
}

section.story-sec-6{
    .row.no-gutters{
        margin-bottom: -1px;
        .content-outer{
            display: table;
            vertical-align: middle;
            height: 100%;
            width: 100%;
            // background: #f4f4f4;
            .content-inner{
                max-width: 710px;
                margin: 0 auto;
                vertical-align: middle;
                display: table-cell;
                height: 100%;
                padding: 0 65px;
                .title{
                    p{
                        font-size: 33px;color: #46b656;font-weight: 500;
                    }
                }
                .insides{
                    padding-top: 20px;
                    p{
                        line-height: 1.3;
                        font-weight: 500;
                        font-size: 22px;color: #141414;
                        text-align: left;
                    }
                    b{
                        line-height: 1.3;
                        display: block;
                        padding-bottom: 10px;
                        font-weight: 500;
                        font-size: 22px;color: #141414;
                        text-align: left;
                    }
                }
                .readmore{
                    float: right;
                    padding-top: 80px;
                    a{
                        padding: 15px 35px;
                        background: #9DA28C;
                        color: #ffffff;
                        font-size: 18px;text-transform: uppercase;
                        border-radius:30px;
                    }
                }
            }
        }
        .gambar{
            img{
                min-height: 750px;
            }
        }
    }
}

body, html,
#wrapper,
#page-content-wrapper,
.fcs-wrapper.outers_fcs_wrapper,
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home,
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner{
    height: 100%;
}

section.story-sec-2{
    position: relative;
    background: #404141;
    min-height: 1550px;
    // margin-top: 384px; 
    .image{
        margin-top: -100px;
        img{

        }
    }
    .title{
        padding-top: 50px;
        padding-bottom: 130px;
        p{
            font-size:60px;color: #ffffff;font-weight: 700;    
        }
    }
    .content{
        max-width: 705px;
        padding-top: 20px;
        height: 150px;
        .judul{
            p{
                font-size: 24px;color: #46b656;
            }
        }
        .isi{
            p{
                font-size: 24px;color: #ffffff;
            }
        }
    }
}

section.contact-sec-1{
    background: url('../images/new/contact-sec-1.jpg');
    background-position: center center;
    min-height: 1000px;
    height: auto; 
    padding-bottom: 8rem;
    .content{
        padding-top: 150px;
        .title{
            h3{
                line-height: 1;
                font-size: 40px;color: #ffffff;
                padding-top: 0;
            }
            h3{
                b{
                    // margin-top: -20px;
                    // padding-top: 20px;
                    // font-size: 17px;color: #ffffff;
                    line-height: 1;
                    font-size: 40px;color: #ffffff;
                }                
            }
            p{
                font-size: 17px;color: #ffffff;
            }
        }
        .subtitle{
            padding-top: 20px;
            p{
                font-size: 17px;color: #ffffff;
            }
        }
        form{
            max-width: 850px;
            .form-group{
                padding-top: 50px;
                input{
                    background: transparent;
                    border: 0;
                    border-bottom:1px solid #fff;
                    border-radius: 0;
                    box-shadow: none;
                    outline: none;
                    max-width: 850px;
                }
                input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: white;
                }
                input::-moz-placeholder { /* Firefox 19+ */
              }      color: white;
                }
                input:-ms-input-placeholder { /* IE 10+ */
                    color: white;
                }
                input:-moz-placeholder { /* Firefox 18- */
                    color: white;
                }
                textarea{
                    background: transparent;
                    border-radius: 0px;
                    border-color: #fff;
                    // height: 255px;
                }
                textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: white;
                }
                textarea::-moz-placeholder { /* Firefox 19+ */
                    color: white;
                }
                textarea:-ms-input-placeholder { /* IE 10+ */
                    color: white;
                }
                textarea:-moz-placeholder { /* Firefox 18- */
                    color: white;
                }
            }
            button{
                margin-top: 40px;
                background: #9ca18b;
                color: #fff;
                border-radius:50px;
                border: 1px solid #9ca18b;
                text-transform: uppercase;
                padding: 15px 45px;
                font-size: 18px;
            }
        }
    }


section.contact-sec-2{
    background: url('../images/new/petaaa.jpg');
    background-position: center center;
    min-height: 670px; height: auto;
    display: table;
    vertical-align: middle;
    width: 100%;
    position: relative;
    .inners-table{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .content{
        background: #5e5e5e;
        min-height: 30px; height: auto;        
        .title{
            p{
                font-size: 40px;
                font-weight: 700;
                color: #fff;
            }
        }
        .subtitle{
            p{
                font-size: 22px;
                color: #fff;
                line-height: 1.3;
            }
        }
        .bawah-kotak{
            p{
                font-size: 15px;color: #fff;
            }
        }
        .view{
            a{
                font-size: 15px;
                color: #fff;text-decoration: none;
                padding: 15px 30px;
                background: #3b3b3b;
                text-transform: uppercase;
                border-radius: 50px;
            }
        }

    }
}

.garis-career{
    background: #bdbdbd;
    height: 1px;
    width: 100%;
    margin-top: 40px;
}

@import 'ib_style2.less';   
@import 'styles-rich.less';
