
@media screen and (max-width:450px){
    
    #page-content-wrapper, #wrapper, 
    .fcs-wrapper.outers_fcs_wrapper, 
    .fcs-wrapper.outers_fcs_wrapper #myCarousel_home, 
    .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner,
    body, html{
        height: auto !important;
    }
    .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner{
        overflow: unset;
    }

    .outers_fcs_wrapper.fcs-wrapper{
        #myCarousel_home{
          position: relative; 
          top: 0px; 
          left: 0px; 
          width: auto;
          height: auto;
        }
        .carousel.carousel-fade .carousel-item {
            display: block;
            opacity: 0;
            transition: opacity ease-out 1.7s;
            left: 0;
            top: 0;
            position: relative;
        }
    }

    body {
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    section.home-sec-6 .middle{
        width: auto;
    }

    section.story-sec-1 .content .title p,
    section.story-sec-1 .content .title b {
        line-height: 1.1;
        font-size: 33px;
        color: #1b7f3f;
    }
    section.story-sec-1 .content{
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
    section.story-sec-1 .content .inside {
        padding-top: 30px;
    }
    section.story-sec-1 .content .inside p {
        font-size: 17px;
        color: #1b7f3f;
    }
    section.story-sec-1{
        min-height: 390px;
    }
    section.story-sec-2 .image{
        margin-top: 20px;
    }
    section.story-sec-2 .image img{
        width: 100%;
    }
    section.story-sec-2 .title p {
        font-size: 35px;
        color: #fff;
        font-weight: 700;
    }
    section.story-sec-2 .title {
        padding-top: 50px;
        /* padding-bottom: 10px; */
    }
    section.story-sec-2 .content .isi p {
        font-size: 17px;
        color: #fff;
    }
    section.story-sec-2 {
        position: relative;
        background: #404141;
        min-height: 1660px;
    }
    section.story-sec-3 .content p {
        text-align: center;
        color: #fff;
        font-size: 23px;
        line-height: 1;
    }
    section.story-sec-3 .content b {
        margin: 0 auto;
        display: block;
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        color: #fff;
    }
    section.story-sec-4 .row.no-gutters .content-outer .content-inner{
        padding: 35px 25px 45px;
    }
    section.story-sec-4 .row.no-gutters .content-outer .content-inner .insides p {
        line-height: 1.3;
        font-weight: 500;
        font-size: 16px;
        color: #5e5e5e;
    }
    section.story-sec-4 .row.no-gutters .content-outer .content-inner .readmore {
        float: right;
        padding-top: 40px;
    }
    section.story-sec-2 .title{
        padding-bottom: 0px;
    }
    section.story-sec-5 .content {
        padding-top: 50px;
    }
    section.story-sec-5 .content .meet p {
        font-weight: 300;
        font-size: 20px;
        color: #1b7f3f;
    }
    section.story-sec-5 .content .nama {
        padding-top: 20px;
    }
    section.story-sec-5 .content .nama p {
        line-height: 1;
        font-size: 45px;
        color: #1b7f3f;
    }
    section.story-sec-5 .content .founder {
        padding: 0px 0 20px;
    }
    section.story-sec-5 .content .founder p {
        font-size: 30px;
        color: #1b7f3f;
        font-weight: 600;
    }
    section.story-sec-5 .content .inside p{
        font-size: 18px;
        max-width: 75%;
    }
    section.story-sec-5{
        min-height: 485px;
    }
    section.story-sec-6 .row.no-gutters .gambar img{
        min-height: 0;
        height: auto;
    }
    section.story-sec-6 .row.no-gutters .content-outer .content-inner {
        max-width: 710px;
        margin: 0 auto;
        vertical-align: middle;
        display: table-cell;
        height: 100%;
        padding: 40px 14px;
    }
    section.story-sec-6 .row.no-gutters .content-outer .content-inner .image-title.text-right img{
        width: 50%;
    }
    section.story-sec-6 .row.no-gutters .content-outer .content-inner .image-title.text-left img{
        width: 25%;
    }
    section.story-sec-6 .row.no-gutters .content-outer .content-inner .insides img{
        width: 100%;
    }
    section.story-sec-6 .row.no-gutters .content-outer .content-inner .insides p {
        line-height: 1.3;
        font-weight: 500;
        font-size: 16px;
        color: #141414;
        text-align: left;
    }
    section.contact-sec-1 .content {
        padding-top: 50px;
    }
    section.contact-sec-1 .content .title p {
        line-height: 1.5;
        font-size: 28px;
        color: #fff;
    }
    section.contact-sec-1 .content .title b {
        padding-top: 20px;
        line-height: 1;
        font-size: 32px;
        color: #fff;
    }
    section.contact-sec-1 .content form .form-group {
        padding-top: 20px;
    }
    section.contact-sec-1 .content form button{
        margin-top: 20px;
    }
    section.contact-sec-1{
        min-height: 745px;
    }
    section.contact-sec-2 .content .title p {
        font-size: 27px;
        font-weight: 700;
        color: #fff;
    }
    section.contact-sec-2 .content .subtitle p {
        font-size: 18px;
        color: #fff;
        line-height: 1.3;
    }
    section.contact-sec-2 .inners-table .content.p-5.py-3{
        padding: 40px 20px !important;
    }
    section.contact-sec-2 .content .view a {
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        padding: 5px 120px;
        background: #3b3b3b;
        text-transform: uppercase;
        border-radius: 50px;
    }
    .fcs-wrapper.outers_fcs_wrapper.faq #myCarousel_home .carousel-caption {
        left: inherit;
        right: inherit;
        bottom: 15%;
        width: 100%;
        padding: 0;
        z-index: 1500;
    }
    section.contact-sec-2 {
        background: url(../images/new/petaaa.jpg) center center;
        min-height: 475px;
        height: auto;
        display: table;
        vertical-align: middle;
        width: 100%;
        position: relative;
    }
}

@media screen and (max-width:450px){
    ul.navbar-nav.mr-auto li.nav-item a{
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }
    ul.navbar-nav.mr-auto li.nav-item{
            border-bottom: 1px solid #ccc !important;      
    }
    .navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    }
    section.footer ul.footers_menu li{
        display: block;
        padding-top: 5px;
    }
    ul.list-inline.text-right.m-0{
        text-align: left !important;
        padding-top: 15px;
    }
    section.footer .t-copyrights p{
        text-align: left;
    }
    .fcs-wrapper.outers_fcs_wrapper.home #myCarousel_home .carousel-caption .bxsl_tx_fcs{
        padding: 0 15px !important;
    }
    .blocks_inners.back-grey-def.py-5 .prelative.container.py-5.my-2{
        padding-top: 10px !important;
    }
    section.outers-block-gemaa.static_page .blocks_inners, section.outers-block-gemaa.static_page .blocks_inners .list-rown .items{
        margin-bottom: 0 !important;padding: 10px 0 !important;
    }
    .list-bullets_icon .row{
        padding-top: 30px !important;
    }
    section.bottom-abouts-backsnwhite .inners .borders-right{
        border: 0 !important;
    }
    section.footer ul.lgo-certif li.firsts {
        margin-right: 0;
        display: inline-block;
        max-width: 135px;
        overflow: hidden;
    }
    section.footer ul.lgo-certif li.firsts img{ 
        width: 140px;
    }
    section.bottom-abouts-backsnwhite.py-5{
        padding: 0 !important;
    }
    section.bussines-sec-1 .inners_section .box-title{
        padding: 0 !important;
    }
    section.bussines-sec-1 .inners_section .box-title .title p{
        font-size: 16px !important;
    }
    section.bussines-sec-1 .inners_section .box-title .content.py-3{
        padding-top: 165px !important;
    }
    section.bussines-sec-1 .inners_section .box-title .content p{
        font-size: 16px !important;
        padding-top: 10px;
    }
    .title-howreal.pt-4.py-3 h4{
        font-size: 1.3rem !important;
    }
    section.bussines-sec-2 .inners_section .title-head .subtitle, section.bussines-sec-2 .inners_section .title-head .subtitle p{
        font-size: 17px !important;
    }
    section.business-sec-4 .col-md-30.col-sm-30.hide-pc{
        float: left !important;
    }
    section.contact-sec-1 .content {
        padding-top: 50px !important;
    }
    section.contact-sec-1 .content .title p {
        font-size: 15px;
        color: #fff;
    }
    section.contact-sec-1{
        min-height: 840px !important;
    }
    section.contact-sec-2 .content .title p{
        font-size: 30px !important;
    }
    section.contact-sec-2 .content .subtitle p{
        font-size: 18px !important;
    }
    section.contact-sec-2 .content .view a{
        font-size: 15px !important;
        padding: 8px 35px !important;
    }
}